Options +FollowSymlinks
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^product-description/([^/]+)$ product-description.php?name=$1
RewriteRule ^product-review/([^/]+)$ product-review.php?proid=$1
RewriteRule ^products/cat/(.*)/l/(.*)$ products.php?cat=$1&l=$2
RewriteRule ^myPage/(.*)$ myPage.php?id=$1 [QSA]
RewriteRule ^order-details/([^/]+)$ order-details.php?oid=$1
RewriteRule ^membership-order-details/([^/]+)$ membership-order-details.php?mid=$1
RewriteRule ^tree/([^/]+)$ tree.php?id=$1
RewriteRule ^([^/]+)/invalid-user/$ invalid-user/
RewriteRule ^([^/]+)/$ $1.php
RewriteRule ^JMLM/v-templates/login/$ JMLM/login/
RewriteRule ^JMLM/index/$ JMLM/
ErrorDocument 404 /vyrazu/JMLM/404/



